<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Members</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script
            src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Code to inclide another HTML  -->
<header th:replace="/header.html"> </header>

<div class="container col-md-8 jumbotron">

    <form method="POST" th:action="@{/addMember}" class="needs-validation" novalidate>
        <fieldset>
            <legend>Add New Members</legend>
            <table class="table table-borderless table-condensed"
                   style="width: 100%; font-size: 16px;">
                <tr>
                    <td><label>Member Id:</label></td>
                    <td><input type="text" style="width: 60%;"
                               name="memberId" class="form-control"
                               placeholder="Enter Member Id"></td>
                </tr>

                <tr>
                    <td><label>Member Name:</label></td>
                    <td><input type="text" class="form-control" name="memberName"
                               style="width: 60%;" placeholder="Enter Member name"></td>
                </tr>

            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Add Payee</button>
            </div>
        </fieldset>
    </form>

</div>

<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load',
            function () {
                // Get the forms we want to add validation styles to
                var forms = document
                    .getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms,
                    function (form) {
                        form.addEventListener('submit', function (
                            event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
            }, false);
    })();
</script>


</body>
</html>
